<launch>
<!-- 	<arg name="marker_size" default="3.5" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic_bottom" default="/naoqi_driver_node/camera/bottom/image_raw" />
	<arg name="cam_info_topic_bottom" default="/naoqi_driver_node/camera/bottom/camera_info" />
	<arg name="cam_image_topic_front" default="/naoqi_driver_node/camera/front/image_raw" />
	<arg name="cam_info_topic_front" default="/naoqi_driver_node/camera/front/camera_info" /> -->
	<!-- <arg name="output_frame" default="/base_link" /> -->
<!-- 	<arg name="output_frame" default="/base_footprint" />
	<arg name="med_filt_size" default="10" />
	<arg name="bundle_files" default="$(find ar_track_alvar)/bundles/truthTableLeg.xml $(find ar_track_alvar)/bundles/table_8_9_10.xml" /> -->

<!-- todo- put global parameters here (thresholds, debug_mode etc.) -->

	<node name="line_finder" pkg="localization_nao_pkg" type="line_finder" respawn="false" output="screen"/>
	<node name="mover" pkg="localization_nao_pkg" type="mover" respawn="false" output="screen"/>


</launch>
